html, body {
   height: 100vh; /*is this height messing up my 'let's play page? will it mess up readings if I do a modal, and then a click to see all? BUT THAT'S ONLY IF I ACTUALLY DO THAT TAROT MESSGE STYLE. took out height again as my index page waving cat needs to be responsive without all the blue so long. It's natural w & h is 1000px each. */ /*when i have 100% on height of vh I SEE THAT BOTTOM OF CAT CUT OFF IN WHEN I LOOK AT BORDER HEIGHT OF BODY. SHould i take off background-position bottom? */
    background-color: #fee5ff; /*this is light pinkish color*/
    margin: 0;
} 


.display-4 {
    font-family: 'Oregano', cursive; 
    color: #FF1166;
    font-size: 6rem; /* but should I do rem and place font-size in body? */

}

.jumbotron-fluid { /*should i be styling jumbotron or jumbotron-fluid??-->
    height: 100vh; /* but should i do h-100 as class? when did as class took up whole page, but cat too large on mobile. */
    height: 100vh; /* w/o this it's straight across wide cut off strip */ 
    background-color: #082567; 
    color: white;
    background-image: url(../img/waving-cat.png);
    background-position: center bottom;
    background-repeat: no-repeat;
   /* background-position: bottom; /* what is center center? */
    background-size: contain; 
  }


h1 {
   /* I want fancier that regular text if possible. Oregano too ornate & distracting. */
/* there will be background color, but don't want this to interfere with index page for moment */
    color: #FF1166; /*hot pink just like main page*/
 }

.question{
    padding: 20px;
    font-size:1rem; /*does this make sense?*/
    font-weight: bold;
    font-style: italic;
    background-color: white;
}

.answer{
    padding: 20px 30px;
    background-color: white;
}

/*below starts tarot box area that I had created in practice javatest workspace*/


#ask{
    background-color: pink; 
    text-align: center;
    height:36px;
    font-size: 19px;
    width: 580px;
} 


#tarotframe {
    background-color: pink; 
    width: 500px;
    height: 620px; 
 }

/* all 13 tarot pics are 550 W by 730H. accidentally made too large*/
#image { /*is ok to size down with % rather than resize photos. I had asked about workspace being smaller if do so, but Sheldon said ok to do % */
    width: 80%;
    border: 1px solid black;
    border-radius: 28px;
    display: none; /*added this to image and will have tarotcontainer showing to try out MUCH BETTER. SMOOTHER AND FOOTER STAYS ON BOTTOM*/
}

/*display:none means that the tag in question will not appear on the page at all (although you can still interact with it through the dom). There will be no space allocated for it between the other tags.

visibility:hidden means that unlike display:none, the tag is not visible, but space is allocated for it on the page. The tag is rendered, it just isn't seen on the page. I HAD DISPLAY HIDDEN ON ONE OF ITEMS?? */

#intro{
    background-color: white;
    padding: 20px;
}


#intro-t {
    background-color: white;
    padding: 11px 15px 1px 15px;
}

footer {
    height: 40px;
    padding: 10px;   
} 


@media only screen and (min-width:1000px){
    
    #look-up {
        margin-left: 280px;
    }
}

